<ion-toolbar>
      <ion-tabs>
         <ion-tab-bar slot="bottom">
           <ion-tab-button [routerLink]="['']">
             <ion-icon name="home-outline" ></ion-icon>
             Home
           </ion-tab-button>
           <ion-tab-button  [routerLink]="['/session']">
             <ion-icon name="people-outline"></ion-icon>
            Iniciar sesión
           </ion-tab-button>
           <ion-tab-button>
             <ion-icon name="bar-chart-outline"></ion-icon>
                Reporte
           </ion-tab-button>
         </ion-tab-bar>
       </ion-tabs>
</ion-toolbar>
