.swiper img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.swiper{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 16px;
  margin-top:100px;
}




  
  